{% extends "base.html" %}
{% block title %}All | Shows{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" id="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('shows.index') }}">Shows</a></li>
        <li class="breadcrumb-item active" aria-current="page">All</li>
    </ol>
</nav>

<h2>All Show Details</h2>

<p>
    Below is a list of available show years that you can click/tap on to jump
    down to that year's section on this page.
</p>

<ul class="year-list">
{% for year in show_years %}
    <li><a href="#show-{{year}}">{{ year }}</a></li>
{% endfor %}
</ul>

<div class="info all-shows">
{% include "shows/all_details.html" %}
</div>
{% endblock %}
