{% for show in shows %}
{% if show %}{# Sanity Check in case of a None #}
{% set show_date = date_string_to_date(date_string=show.date) %}
{% if postal_abbreviations and show.location.state %}
    {% set state_name = postal_abbreviations[show.location.state].name %}
{% endif %}
<div class="info">
    <h3 class="date">
        <a href="{{ url_for('shows.year_month_day', show_year=show_date.year, show_month=show_date.month, show_day=show_date.day) }}">{{ show.date }}</a>
    </h3>

    <div class="details">
        <div class="badges">
            {% if show.best_of %}
                <span class="badge best-of">Best Of</span>
            {% endif %}
            {% if show.repeat_show %}
                {% set repeat_show = date_string_to_date(date_string=show.original_show_date) %}
                <span class="badge repeat">Repeat:
                    <a href="{{ url_for('shows.year_month_day',
                        show_year=repeat_show.year,
                        show_month=repeat_show.month,
                        show_day=repeat_show.day) }}">{{ show.original_show_date }}</a>
                </span>
            {% endif %}
            <span class="badge npr-link">
            {% if show.show_url %}
                <a href="{{ show.show_url }}" target="_blank">NPR<i class="bi bi-box-arrow-up-right" aria-hidden="true"></i></a>
            {% else %}
                <a href="{{ url_for('main_redirects.npr_show_redirect', show_date=show.date) }}" target="_blank">NPR<i class="bi bi-box-arrow-up-right" aria-hidden="true"></i></a>
            {% endif %}
            </span>
            <span class="badge db-id">DB ID: {{ show.id }}</span>
        </div>

        <div class="row">
            <div class="col location-info">
                <span class="field-label">Location</span>
                {# Only provide a link to non-placeholder locations #}
                {% if not (show.location.id == 3 or show.location.id == 38) %}
                {% if state_name %}
                <a href="{{ url_for('locations.details', location_slug=show.location.slug) }}">{{ format_location_name(show.location,
                    state_name=state_name) }}</a>
                {% else %}
                <a href="{{ url_for('locations.details', location_slug=show.location.slug) }}">{{ format_location_name(show.location)
                    }}</a>
                {% endif %}
                {% else %}
                <span class="data-tbd">TBD</span>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 host-info">
                <span class="field-label">Host</span>
                <span class="host-name">
                {% if show.host.slug != "tbd" %}
                {% if show.host.guest %}
                Guest:
                {% endif %}
                <a href="{{ url_for('hosts.details', host_slug=show.host.slug) }}">{{ show.host.name }}</a>
                {% else %}
                <span class="data-tbd">TBD</span>
                {% endif %}
                </span>
            </div>
            <div class="col-md-6 scorekeeper-info">
                <span class="field-label">Scorekeeper</span>
                <span class="scorekeeper-name">
                {% if show.scorekeeper.slug != "tbd" %}
                {% if show.scorekeeper.description %}
                <q class="scorekeeper-description">{{ show.scorekeeper.description }}</q>
                {% endif %}
                {% if show.scorekeeper.guest %}
                Guest:
                {% endif %}
                <a href="{{ url_for('scorekeepers.details', scorekeeper_slug=show.scorekeeper.slug) }}">{{ show.scorekeeper.name }}</a>
                {% else %}
                <span class="data-tbd">TBD</span>
                {% endif %}
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 panelist-info">
                <span class="field-label">Panelists</span>
                {% if show.panelists %}
                <ul>
                    {% for panelist in show.panelists %}
                    <li>
                        {% if panelist.rank %}
                        <span class="rank">{{- "{:s}".format(rank_map[panelist.rank]) -}}:</span>
                        {% endif %}
                        {% if panelist.slug == 'multiple' %}
                        <span class="data-multiple">Multiple Panelists</span>
                        {% else %}
                        <a href="{{ url_for('panelists.details', panelist_slug=panelist.slug) }}">{{ panelist.name }}</a>
                            {% if panelist.score_decimal != None %}
                                {% set score = "{:f}".format(panelist.score_decimal.normalize()) %}
                                {% if panelist.lightning_round_start_decimal != None and panelist.lightning_round_correct_decimal != None %}
                                    {% set start = "{:f}".format(panelist.lightning_round_start_decimal.normalize()) %}
                                    {% set correct = "{:f}".format(panelist.lightning_round_correct_decimal.normalize()) %}
                        <span class="score">
                            <span class="me-1"><span class="visually-hidden">Total Score: </span>{{ score }}</span>
                            (<span class="visually-hidden">Starting Score: </span>{{ start }} /
                            <span class="visually-hidden">Correct Answers: </span>{{ correct }})
                        </span>
                                {% elif panelist.lightning_round_start != None and panelist.lightning_round_correct != None %}
                                    {% set start = "{:f}".format(panelist.lightning_round_start) %}
                                    {% set correct = "{:f}".format(panelist.lightning_round_correct) %}
                        <span class="score">
                            <span class="me-1"><span class="visually-hidden">Total Score: </span>{{ score }}</span>
                            (<span class="visually-hidden">Starting Score: </span>{{ start }} /
                            <span class="visually-hidden">Correct Answers: </span>{{ correct }})
                        </span>
                                {% else %}
                        <span class="score">
                            <span class="visually-hidden">Total Score: </span>{{ score }}
                        </span>
                                {% endif %}
                            {% elif panelist.score %}
                                {% if panelist.lightning_round_start != None and panelist.lightning_round_correct != None %}
                        <span class="score">
                            <span class="me-1"><span class="visually-hidden">Total Score: </span>{{ panelist.score }}</span>
                            (<span class="visually-hidden">Starting Score: </span>{{ panelist.lightning_round_start }} /
                            <span class="visually-hidden">Correct Answers: </span>{{ panelist.light_round_correct }})
                        </span>
                                {% else %}
                        <span class="score">
                            <span class="visually-hidden">Total Score: </span>{{ panelist.score }}
                        </span>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <span class="data-na">N/A</span>
                {% endif %}
            </div>
            <div class="col-md-6 guest-info">
                <span class="field-label">Not My Job Guest(s)</span>
                {% if show.guests %}
                <ul>
                    {% for guest in show.guests %}
                        {% if guest.slug != 'none' %}
                    <li>
                        <a href="{{ url_for('guests.details', guest_slug=guest.slug) }}">{{ guest.name }}</a>
                            {% if guest.score != None %}
                        <span class="score">
                            {{ guest.score }}
                            {% if guest.score_exception %}
                            <span class="score-exception" data-bs-toggle="tooltip" data-bs-custom-class="ww-tooltip" title="Scoring Exception">*</span>
                            {% endif %}
                        </span>
                            {% endif %}
                        {% else %}
                        <span class="data-na">N/A</span>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <span class="data-na">N/A</span>
                {% endif %}
            </div>
        </div>

        {% if show.bluffs and show.bluffs|length >= 1 %}
            {% if show.bluffs[0]["chosen_panelist"] and show.bluffs[0]["correct_panelist"] %}
        <div class="row bluff-info">
            <div class="col">
                <span class="field-label">Bluff</span>
                {% for bluff in show.bluffs %}
                <div class="row sub-row">
                    <div class="col-md-1 bluff-segment-num">#{{ bluff.segment }}</div>
                    <div class="col-md-5">
                        <span class="field-label">Chosen</span>
                    {% if bluff.chosen_panelist %}
                        <a href="{{ url_for('panelists.details', panelist_slug=bluff.chosen_panelist.slug) }}">{{ bluff.chosen_panelist.name }}</a>
                    {% else %}
                        <span class="data-na">N/A</span>
                    {% endif %}
                    </div>
                    <div class="col-md-5">
                        <span class="field-label">Correct</span>
                    {% if bluff.correct_panelist %}
                        <a href="{{ url_for('panelists.details', panelist_slug=bluff.correct_panelist.slug) }}">{{ bluff.correct_panelist.name }}</a>
                    {% else %}
                        <span class="data-na">N/A</span>
                    {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
            {% endif %}
        {% endif %}

        {% if show.description and not exclude_description %}
        <div class="row">
            <div class="col show-description">
                <span class="field-label">Description</span>
                <div class="show-description-text">{{ show.description | markdown | safe }}</div>
            </div>
        </div>
        {% endif %}

        {% if show.notes and not exclude_notes %}
        <div class="row">
            <div class="col show-notes">
                <span class="field-label">Notes</span>
                <div class="show-notes-text">{{ show.notes | markdown | safe }}</div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endif %}
{% endfor %}
