{% extends "base.html" %}
{% block title %}Shows{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" id="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Shows</li>
    </ol>
</nav>

<h2>Shows</h2>
<p>
    Choose from one of the years below to view the available shows for that year.
</p>

<div class="info">
    <div class="shows">
        <ul class="list-group show-list">
            <li class="list-group-item">
                <a href="{{ url_for('shows.random') }}">
                    <i class="bi-shuffle" aria-hidden="true"></i>Random Show
                </a>
            </li>
            {% for year in show_years %}
            <li class="list-group-item">
                <a href="{{ url_for('shows.year', show_year=year) }}">{{ year }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
