{% extends "base.html" %}
{% block title %}Shows{% endblock %}
{% block canonical_link %}
    <link rel="canonical" href="{{ site_url }}{{ url_for('shows.index') }}">
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" id="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Shows</li>
    </ol>
</nav>

<h2>Shows</h2>
<p>
    Choose from one of the years below to view the available shows for that year.
</p>

<div class="info">
    <div class="shows">
        <ul class="list-group show-list">
            <li class="list-group-item">
                <a href="{{ url_for('shows.best_ofs') }}">
                    <i class="bi bi-star" aria-hidden="true"></i>Best Of Shows
                </a>
            </li>
            <li class="list-group-item">
                <a href="{{ url_for('shows.repeat_best_ofs') }}">
                    <i class="bi bi-star" aria-hidden="true"></i><i class="bi bi-repeat" aria-hidden="true"></i>Repeat Best Of Shows
                </a>
            </li>
            <li class="list-group-item">
                <a href="{{ url_for('shows.repeats') }}">
                    <i class="bi bi-repeat" aria-hidden="true"></i>Repeat Shows
                </a>
            </li>
            <li class="list-group-item">
                <a href="{{ url_for('shows.random') }}">
                    <i class="bi bi-shuffle" aria-hidden="true"></i>Random Show
                </a>
            </li>
            {% for year in show_years %}
            <li class="list-group-item">
                <a href="{{ url_for('shows.year', show_year=year) }}">{{ year }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
