{% extends "base.html" %}
{% block title %}On This Day | Shows{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" id="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('shows.index') }}">Shows</a></li>
        <li class="breadcrumb-item active" aria-current="page">On This Day</li>
    </ol>
</nav>

<h2>Show Details: On This Day</h2>

<p>
    This page provides a list of shows that have aired on past years on this month and day.
</p>

{% if shows %}
{% include "shows/details.html" %}
{% else %}
<p>
    There currently are no shows available on this day.
</p>
{% endif %}
{% endblock %}
