{% extends "base.html" %}
{% block title %}{{ show_date.isoformat() }} | Shows{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" id="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Shows</a></li>
        <li class="breadcrumb-item"><a href="{{ url_for('shows.year', show_year=show_date.year) }}">{{ show_date.year }}</a></li>
        <li class="breadcrumb-item"><a href="{{ url_for('shows.year_month', show_year=show_date.year, show_month=show_date.month) }}">{{ show_date.strftime("%B") }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ show_date.strftime("%d") }}</li>
    </ol>
</nav>

<h2>Show Details</h2>

{% include "shows/details.html" %}
{% endblock %}
