{% extends "base.html" %}
{% block title %}{{ year.year }} | Shows{% endblock %}
{% block canonical_link %}
    <link rel="canonical" href="{{ site_url }}{{ url_for('shows.year', show_year=year.year) }}">
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" id="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('shows.index') }}">Shows</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ year.year }}</li>
    </ol>
</nav>

<h2>Shows: {{ year.year }}</h2>
<p>
    Choose from one of the month and year items below to view the details for
    the shows that month and year.
</p>

<div class="info">
    <div class="shows">
        <ul class="list-group show-list">
            {% if show_counts %}
            <li class="list-group-item">
                {% if show_counts.best_of %}
                <a href="{{ url_for('shows.year_best_ofs', show_year=year.year) }}">
                {% else %}
                <a aria-disabled="true" class="disabled-link">
                {% endif %}
                    <i class="bi bi-star" aria-hidden="true"></i>Best Of Shows from {{ year.year }}
                </a>
            </li>
            <li class="list-group-item">
                {% if show_counts.repeat_best_of %}
                <a href="{{ url_for('shows.year_repeat_best_ofs', show_year=year.year) }}">
                {% else %}
                <a aria-disabled="true" class="disabled-link">
                {% endif %}
                    <i class="bi bi-star" aria-hidden="true"></i><i class="bi bi-repeat" aria-hidden="true"></i>Repeat Best Of Shows from {{ year.year }}
                </a>
            </li>
            <li class="list-group-item">
                {% if show_counts.repeat %}
                <a href="{{ url_for('shows.year_repeats', show_year=year.year) }}">
                {% else %}
                <a aria-disabled="true" class="disabled-link">
                {% endif %}
                    <i class="bi bi-repeat" aria-hidden="true"></i>Repeat Shows from {{ year.year }}
                </a>
            </li>
            {% endif %}
            <li class="list-group-item">
                <a href="{{ url_for('shows.random_year_show', show_year=year.year) }}">
                    <i class="bi bi-shuffle" aria-hidden="true"></i>Random Show from {{ year.year }}
                </a>
            </li>
            {% for month in show_months %}
            <li class="list-group-item">
                <a href="{{ url_for('shows.year_month', show_year=month.year, show_month=month.month) }}">{{ month.strftime("%B %Y") }}</a>
            </li>
            {% endfor %}
            <li class="list-group-item">
                <a href="{{ url_for('shows.year_all', show_year=year.year) }}">All Shows from {{ year.year }}</a>
            </li>
        </ul>
    </div>
</div>

{% include "shows/details.html" %}
{% endblock %}
