{% extends "base.html" %}
{% block title %}{{ year_month.strftime("%B %Y") }} | Shows{% endblock %}
{% block canonical_link %}
    <link rel="canonical" href="{{ site_url }}{{ url_for('shows.year_month', show_year=year_month.year, show_month=year_month.month) }}">
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" id="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('shows.index') }}">Shows</a></li>
        <li class="breadcrumb-item"><a href="{{ url_for('shows.year', show_year=year_month.year) }}">{{ year_month.year }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ year_month.strftime("%B") }}</li>
    </ol>
</nav>

<h2>Show Details: {{ year_month.strftime("%B %Y") }}</h2>

{% include "shows/details.html" %}
{% endblock %}
