{% for panelist in panelists %}
{% if panelist %}{# Sanity Check in case of a None #}

<div class="info">
    <h3 class="name"><a href="{{ url_for('panelists.details', panelist_slug=panelist.slug) }}">{{ panelist.name }}</a></h3>
    <div class="details">
        <div class="badges">
            <span class="badge db-id">DB ID: {{ panelist.id }}</span>
            {% if panelist.pronouns %}
            <span class="badge pronouns">Pronouns: {{ panelist.pronouns|join("/") }}</span>
            {% endif %}
            {% if panelist.is_guest %}
            <span class="badge is-guest">Guest: <a href="{{ url_for('guests.details', guest_slug=panelist.slug) }}">{{ panelist.name }}<i class="bi bi-arrow-right" aria-hidden="true"></i></a></span>
            {% endif %}
            {% if panelist.is_host %}
            <span class="badge is-host">Host: <a href="{{ url_for('hosts.details', host_slug=panelist.slug) }}">{{ panelist.name }}<i class="bi bi-arrow-right" aria-hidden="true"></i></a></span>
            {% endif %}
            {% if panelist.is_scorekeeper %}
            <span class="badge is-scorekeeper">Scorekeeper: <a href="{{ url_for('scorekeepers.details', scorekeeper_slug=panelist.slug) }}">{{ panelist.name }}<i class="bi bi-arrow-right" aria-hidden="true"></i></a></span>
            {% endif %}
        </div>

        <div class="row">
            <div class="col-md-6 appearance-count">
                <span class="field-label">Appearances</span>
                {% if panelist.appearances.count %}
                <ul class="stats">
                    <li><span class="help-notes" data-bs-toggle="tooltip" data-bs-custom-class="ww-tooltip" title="Excludes Best Of and Repeat Shows">Regular Shows</span>: {{ panelist.appearances.count.regular_shows }}</li>
                    <li><span class="help-notes" data-bs-toggle="tooltip" data-bs-custom-class="ww-tooltip" title="Includes Best Of and Repeat Shows">All Shows</span>: {{ panelist.appearances.count.all_shows }}</li>
                    <li>Shows with Scores: {{ panelist.appearances.count.shows_with_scores }}</li>
                    {% if panelist.appearances.milestones %}
                    {% set first_show = date_string_to_date(date_string=panelist.appearances.milestones.first.show_date) %}
                    <li>First Show:
                        <a href="{{ url_for('shows.year_month_day', show_year=first_show.year, show_month=first_show.month, show_day=first_show.day) }}">
                            {{ panelist.appearances.milestones.first.show_date }}
                        </a>
                    </li>
                    {% set most_recent_show = date_string_to_date(date_string=panelist.appearances.milestones.most_recent.show_date) %}
                    <li>Most Recent Show:
                        <a href="{{ url_for('shows.year_month_day', show_year=most_recent_show.year, show_month=most_recent_show.month, show_day=most_recent_show.day) }}">
                            {{ panelist.appearances.milestones.most_recent.show_date }}
                        </a>
                    </li>
                    {% endif %}
                </ul>
                {% else %}
                <span class="data-na">N/A</span>
                {% endif %}
            </div>
            <div class="col-md-6 scoring-stats">
                <span class="field-label">Scoring</span>
                {% if panelist.statistics.scoring_decimal %}
                <ul class="stats">
                    <li>Minimum / Maximum: {{ "{:f}".format(panelist.statistics.scoring_decimal.minimum.normalize()) }} / {{ "{:f}".format(panelist.statistics.scoring_decimal.maximum.normalize()) }}</li>
                    <li>Mean: {{ "{:f}".format(panelist.statistics.scoring_decimal.mean.normalize()) }}</li>
                    <li>Median: {{ "{:f}".format(panelist.statistics.scoring_decimal.median.normalize()) }}</li>
                    <li>Standard Deviation: {{ "{:f}".format(panelist.statistics.scoring_decimal.standard_deviation.normalize()) }}</li>
                    <li>Total: {{ "{:f}".format(panelist.statistics.scoring_decimal.total.normalize()) }}</li>
                </ul>
                {% elif panelist.statistics.scoring %}
                <ul class="panelist-stats">
                    <li>Minimum / Maximum: {{ panelist.statistics.scoring.minimum }} / {{ panelist.statistics.scoring.maximum }}</li>
                    <li>Mean: {{ panelist.statistics.scoring.mean }}</li>
                    <li>Median: {{ panelist.statistics.scoring.median }}</li>
                    <li>Standard Deviation: {{ panelist.statistics.scoring.standard_deviation }}</li>
                    <li>Total: {{ panelist.statistics.scoring.total }}</li>
                </ul>
                {% else %}
                <span class="data-na">N/A</span>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 ranking-stats">
                <span class="field-label">Rankings</span>
                {% if panelist.statistics %}
                <ul class="stats">
                    <li>
                        First: {{ panelist.statistics.ranking.rank.first }} ({{ panelist.statistics.ranking.percentage.first }} %)
                    </li>
                    <li>
                        First Tied: {{ panelist.statistics.ranking.rank.first_tied }} ({{ panelist.statistics.ranking.percentage.first_tied }} %)
                    </li>
                    <li>
                        Second: {{ panelist.statistics.ranking.rank.second }} ({{ panelist.statistics.ranking.percentage.second }} %)
                    </li>
                    <li>
                        Second Tied: {{ panelist.statistics.ranking.rank.second_tied }} ({{ panelist.statistics.ranking.percentage.second_tied }} %)
                    </li>
                    <li>
                        Third: {{ panelist.statistics.ranking.rank.third }} ({{ panelist.statistics.ranking.percentage.third }} %)
                    </li>
                </ul>
                {% else %}
                <span class="data-na">N/A</span>
                {% endif %}
            </div>
            <div class="col-md-6 bluff-stats">
                <span class="field-label">Bluff the Listener</span>
                <ul class="stats">
                {% if panelist.bluffs.chosen %}
                    <li>Chosen: {{ panelist.bluffs.chosen }}</li>
                {% else %}
                    <li>Chosen: <span class="data-na">N/A</span></li>
                {% endif %}
                {% if panelist.bluffs.correct %}
                    <li>Correct: {{ panelist.bluffs.correct }}</li>
                {% else %}
                    <li>Chosen: <span class="data-na">N/A</span></li>
                {% endif%}
                </ul>
            </div>
        </div>

        {% if not exclude_panelist_graph_links %}
        <div class="row">
            <div class="col-md-12">
                <span class="field-label">Available Graphs</span>
                <ul class="graph-list">
                    <li><a href="{{ graphs_url }}/panelists/score-breakdown/{{ panelist.slug }}" target="_blank">Score Breakdown <i class="bi bi-box-arrow-up-right px-1" aria-hidden="true"></i></a></li>
                    <li><a href="{{ graphs_url }}/panelists/scores-by-appearance/{{ panelist.slug }}" target="_blank">Scores by Appearance <i class="bi bi-box-arrow-up-right px-1" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
        {% endif %}

        {% if not exclude_panelist_appearances %}
        <div class="row">
            <div class="col-md-12 appearances">
                <span class="field-label">List of Appearances</span>
                {% if panelist.appearances.shows %}
                <ul class="appearance-list panelist">
                    {% for appearance in panelist.appearances.shows %}
                    {% set show_date = date_string_to_date(date_string=appearance.date) %}
                    <li>
                        <a href="{{ url_for('shows.year_month_day', show_year=show_date.year, show_month=show_date.month, show_day=show_date.day) }}">{{ appearance.date }}</a>
                        {% if appearance.score_decimal != None %}
                            {% set score = "{:f}".format(appearance.score_decimal.normalize()) %}
                            {% if appearance.lightning_round_start_decimal != None and appearance.lightning_round_correct_decimal != None %}
                                {% set start = "{:f}".format(appearance.lightning_round_start_decimal.normalize()) %}
                                {% set correct = "{:f}".format(appearance.lightning_round_correct_decimal.normalize()) %}
                        <span class="score">{{ score }} (<span class="visually-hidden">Start: </span>{{ start }} / <span class="visually-hidden">Correct: </span>{{ correct }})</span>
                            {% elif appearance.lightning_round_start != None and appearance.lightning_round_correct != None %}
                                {% set start = "{:f}".format(appearance.lightning_round_start) %}
                                {% set correct = "{:f}".format(appearance.lightning_round_correct) %}
                        <span class="score">{{ score }} (<span class="visually-hidden">Start: </span>{{ start }} / <span class="visually-hidden">Correct: </span>{{ correct }})</span>
                            {% else %}
                        <span class="score">{{ score }}</span>
                            {% endif %}
                            {% if appearance.rank %}
                        <span class="rank">[{{ rank_map[appearance.rank] }}]</span> 
                            {% endif %}
                        {% elif appearance.score != None %}
                            {% if appearance.lightning_round_start != None and appearance.lightning_round_correct != None %}
                        <span class="score">
                            {{ appearance.score }} (<span class="visually-hidden">Start: </span>{{ appearance.lightning_round_start }} / <span class="visually-hidden">Correct: </span>{{ appearance.lightning_round_correct }})
                        </span>
                            {% else %}
                        <span class="score">{{ appearance.score }}</span>
                            {% endif %}
                            {% if appearance.rank %}
                        <span class="rank">[{{ rank_map[appearance.rank] }}]</span>
                            {% endif %}
                        {% endif %}
                        {% if appearance.best_of %}
                        <span class="badge best-of">Best Of</span>
                        {% endif %}
                        {% if appearance.repeat_show %}
                        <span class="badge repeat">Repeat</span>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <span class="data-na">N/A</span>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endif %}
{% endfor %}
