{% extends "base.html" %}
{% block title %}Panelists{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" id="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Panelists</li>
    </ol>
</nav>

<h1>Panelists</h1>
<p>
    Choose from one of the panelists below to view their appearance details.
</p>

<div class="info">
    <div class="panelists">
        <ul class="list-group name-list">
            <li class="list-group-item">
                <a href="{{ url_for('panelists.random') }}">
                    <i class="bi-shuffle" aria-hidden="true"></i>Random Panelist
                </a>
            </li>
            {% for panelist in panelists %}
            {% if panelist.slug != "tbd" %}
            <li class="list-group-item">
                <a href="{{ url_for('panelists.details', panelist_slug=panelist.slug) }}">{{ panelist.name }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
