{% for scorekeeper in scorekeepers %}
{% if scorekeeper.slug != "tbd" %}
{% if scorekeeper %}{# Sanity Check in case of a None #}

<div class="info">
    <h3 class="name">
        <a href="{{ url_for('scorekeepers.details', scorekeeper_slug=scorekeeper.slug) }}">{{ scorekeeper.name }}</a>
    </h3>

    <div class="details">
        <div class="badges">
            {% if scorekeeper.slug == 'carl-kasell' %}
            <span class="badge emeritus">Scorekeeper Emeritus</span>
            {% endif %}
            <span class="badge db-id">DB ID: {{ scorekeeper.id }}</span>
            {% if scorekeeper.pronouns %}
            <span class="badge pronouns">Pronouns: {{ scorekeeper.pronouns|join("/") }}</span>
            {% endif %}
            {% if scorekeeper.is_guest %}
            <span class="badge is-guest">Guest: <a href="{{ url_for('guests.details', guest_slug=scorekeeper.slug) }}">{{ scorekeeper.name }}<i class="bi bi-arrow-right" aria-hidden="true"></i></a></span>
            {% endif %}
            {% if scorekeeper.is_host %}
            <span class="badge is-host">Host: <a href="{{ url_for('hosts.details', host_slug=scorekeeper.slug) }}">{{ scorekeeper.name }}<i class="bi bi-arrow-right" aria-hidden="true"></i></a></span>
            {% endif %}
            {% if scorekeeper.is_panelist %}
            <span class="badge is-panelist">Panelist: <a href="{{ url_for('panelists.details', panelist_slug=scorekeeper.slug) }}">{{ scorekeeper.name }}<i class="bi bi-arrow-right" aria-hidden="true"></i></a></span>
            {% endif %}
        </div>

        <div class="row">
            <div class="col-md-6 appearances-regular">
                <span class="field-label">
                    <span class="help-notes" data-bs-toggle="tooltip" data-bs-custom-class="ww-tooltip" title="Excludes Best Of and Repeat Shows">
                        Appearances: Regular Shows
                        <i class="ps-1 bi bi-info-circle" aria-hidden="true"></i>
                    </span>
                </span>
                {% if scorekeeper.appearances.count %}
                {{ scorekeeper.appearances.count.regular_shows }}
                {% else %}
                <span class="data-na">N/A</span>
                {% endif %}
            </div>
            <div class="col-md-6 appearances-all">
                <span class="field-label">
                    <span class="help-notes" data-bs-toggle="tooltip" data-bs-custom-class="ww-tooltip" title="Includes Best Of and Repeat Shows">
                        Appearances: All Shows
                        <i class="ps-1 bi bi-info-circle" aria-hidden="true"></i>
                    </span>
                </span>
                {% if scorekeeper.appearances.count %}
                {{ scorekeeper.appearances.count.all_shows }}
                {% else %}
                <span class="data-na">N/A</span>
                {% endif %}
            </div>
        </div>

        {% if not exclude_scorekeeper_report_links %}
        <div class="row">
            <div class="col-md-12">
                <span class="field-label">Available Reports</span>
                <ul class="report-links">
                    <li><a href="{{ reports_url }}/scorekeepers/scorekeeper-introductions" target="_blank">Scorekeeper Introductions <i class="bi bi-box-arrow-up-right px-1" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
        {% endif %}

        {% if not exclude_scorekeeper_appearances %}
        <div class="row">
            <div class="col-md-12 appearances">
                <span class="field-label">List of Appearances</span>
                {% if scorekeeper.appearances.shows %}
                <ul class="appearance-list {{- ' list-col-2' if scorekeeper.appearances.shows | length < 6 -}}">
                    {% for appearance in scorekeeper.appearances.shows %}
                    {% set show_date = date_string_to_date(date_string=appearance.date) %}
                    <li>
                        <a href="{{ url_for('shows.year_month_day', show_year=show_date.year, show_month=show_date.month, show_day=show_date.day) }}">{{ appearance.date }}</a>
                        {% if appearance.guest %}
                        <span class="badge guest">Guest</span>
                        {% endif %}
                        {% if appearance.best_of %}
                        <span class="badge best-of">Best Of</span>
                        {% endif %}
                        {% if appearance.repeat_show %}
                        <span class="badge repeat">Repeat</span>
                        {% endif %}
                    </li>
                        {% endfor %}
                </ul>
                    {% else %}
                    <span class="data-na">N/A</span>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endif %}
{% endif %}
{% endfor %}
