{% extends "base.html" %}
{% block title %}Scorekeepers{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" id="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Scorekeepers</li>
    </ol>
</nav>

<h2>Scorekeepers</h2>
<p>
    Choose from one of the scorekeepers below to view their appearance
    details.
</p>

<div class="info">
    <div class="scorekeepers">
        <ul class="list-group name-list">
            <li class="list-group-item">
                <a href="{{ url_for('scorekeepers.random') }}">
                    <i class="bi bi-shuffle" aria-hidden="true"></i>Random Scorekeeper
                </a>
            </li>
            {% for scorekeeper in scorekeepers %}
                {% if scorekeeper.slug != "tbd" %}
            <li class="list-group-item">
                <a href="{{ url_for('scorekeepers.details', scorekeeper_slug=scorekeeper.slug) }}">{{ scorekeeper.name }}</a>
            </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
