{% extends "base.html" %}
{% block title %}Hosts{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" id="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Hosts</li>
    </ol>
</nav>

<h2>Hosts</h2>
<p>
    Choose from one of the show hosts below to view their appearance details.
</p>

<div class="info">
    <div class="hosts">
        <ul class="list-group name-list">
            <li class="list-group-item">
                <a href="{{ url_for('hosts.random') }}">
                    <i class="bi-shuffle" aria-hidden="true"></i>Random Host
                </a>
            </li>
            {% for host in hosts %}
            {% if host.slug != "tbd" %}
            <li class="list-group-item">
                <a href="{{ url_for('hosts.details', host_slug=host.slug) }}">{{ host.name }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
