{% for guest in guests %}
{% if guest %}{# Sanity Check in case of a None #}
<h2><a href="{{ url_for('guests.details',
                         guest_slug=guest.slug) }}">{{ guest.name }}</a></h2>

<div class="guest-block">
<div class="row guest-badges">
    <div class="col s12">
        <span class="database-id">DB ID: {{ guest.id }}</span>
    </div>
</div>
<div class="row">
    <div class="col s12 l6">
        <div class="label">Appearances</div>
        {% if guest.appearances.count %}
        {{ guest.appearances.count.regular_shows }}
        {% else %}
        <span class="data-na">N/A</span>
        {% endif %}
    </div>
    <div class="col s12 l6">
        <div class="label">Appearances including Best Of and Repeats</div>
        {% if guest.appearances.count %}
        {{ guest.appearances.count.all_shows }}
        {% else %}
        <span class="data-na">N/A</span>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col s12">
        <div class="guest-appearance-list">
            <div class="label">List of Appearances</div>
            {% if guest.appearances.shows %}
            <ul>
            {% for appearance in guest.appearances.shows %}
                {% set show_date = date_string_to_date(date_string=appearance.date) %}
                <li>
                    <a href="{{ url_for('shows.year_month_day',
                                        year=show_date.year,
                                        month=show_date.month,
                                        day=show_date.day) }}">
                    {{appearance.date}}</a>
                    {% if appearance.score != None and appearance.score_exception %}
                        {{appearance.score }} *
                    {% elif appearance.score != None and not appearance.score_exception %}
                        {{ appearance.score }}
                    {% endif %}
                    {% if appearance.best_of %}
                        <span class="guest-show-bestof">Best Of</span>
                    {% endif %}
                    {% if appearance.repeat_show %}
                        <span class="guest-show-repeat">Repeat</span>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
            {% else %}
            <span class="data-na">N/A</span>
            {% endif %}
        </div>
    </div>
</div>
</div>
{% endif %}
{% endfor %}
