{% for location in locations %}
{# Sanity Check in case of a None and skipping certain placeholder locations #}
{% if location and not (location.id == 3 or location.id == 38) %}
{% if postal_abbreviations and location.state %}
    {% set state_name = postal_abbreviations[location.state].name %}
{% endif %}

<div class="info">
    <h3 class="location">
        <a href="{{ url_for('locations.details', location_slug=location.slug) }}">{{ location.venue }}</a>
    </h3>
    <div class="details">
        <div class="badges">
            <span class="badge db-id">DB ID: {{ location.id }}</span>
        </div>

        <div class="row">
            <div class="col-md-6 located-in">
                <span class="field-label">Located In</span>
                {% if location.city and state_name %}
                {{ location.city }}, {{ state_name }}
                {% elif location.city and location.state %}
                {{ location.city }}, {{ location.state }}
                {% else %}
                <span class="data-na">N/A</span>
                {% endif %}
            </div>
            <div class="col-md-6 coordinates">
                <span class="field-label">Coordinates</span>
                {% if location.coordinates.latitude and location.coordinates.longitude %}
                    {% set lat_deg, lat_min, lat_sec = decimal_to_degrees(location.coordinates.latitude) %}
                    {% set lon_deg, lon_min, lon_sec = decimal_to_degrees(location.coordinates.longitude) %}
                <span class="dms-coordinates" data-bs-toggle="tooltip"
                    title="DMS Coordinates: {{ format_latitude(lat_deg, lat_min, lat_sec) | safe }}, {{ format_longitude(lon_deg, lon_min, lon_sec) | safe }}">
                    {{ "{:.5f}".format(location.coordinates.latitude.normalize()) }}&deg;, {{
                    "{:.5f}".format(location.coordinates.longitude.normalize()) }}&deg;
                </span>
                    {% if display_location_map %}
                <span class="map-link">
                    <i class="bi-map" aria-hidden="true"></i> <a href="#map-block" title="Scroll down to location map">Location Map</a>
                </span>
                    {% endif %}
                {% else %}
                <span class="data-na">N/A</span>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 recordings-regular">
                <span class="field-label">
                    Recordings
                    (<span class="help-notes" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="Excludes Best Of and Repeat Shows">Regular Shows
                    </span>)
                </span>
                {% if location.recordings.count %}
                {{ location.recordings.count.regular_shows }}
                {% else %}
                <span class="data-na">N/A</span>
                {% endif %}
            </div>
            <div class="col-md-6 recordings-all">
                <span class="field-label">
                    Recordings
                    (<span class="help-notes" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Includes Best Of and Repeat Shows">All Shows</span>)</span>
                {% if location.recordings.count %}
                {{ location.recordings.count.all_shows }}
                {% else %}
                <span class="data-na">N/A</span>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 recordings">
                <span class="field-label">List of Recordings</span>
                {% if location.recordings.shows %}
                <ul class="recording-list {{- ' list-col-2' if location.recordings.shows | length < 6 -}}">
                {% for show in location.recordings.shows %}
                    {% set show_date = date_string_to_date(date_string=show.date) %}
                    <li>
                        <a href="{{ url_for('shows.year_month_day', show_year=show_date.year, show_month=show_date.month, show_day=show_date.day) }}">
                            {{show.date}}
                        </a>
                    {% if show.best_of %}
                        <span class="badge best-of">Best Of</span>
                    {% endif %}
                    {% if show.repeat_show %}
                        <span class="badge repeat">Repeat</span>
                    {% endif %}
                    </li>
                {% endfor %}
                </ul>
                {% else %}
                <span class="data-na">N/A</span>
                {% endif %}
            </div>
        </div>

        {% if location.coordinates and display_location_map %}
        <div class="row" id="map-block">
            <div class="col-md-12">
                <div class="location-map-block">
                    <span class="field-label">Map</span>
                    <div id="map" lat="{{ location.coordinates.latitude }}" lon="{{ location.coordinates.longitude }}"
                        alt-text="{{ location.venue }} in {{ location.city }}, {{ state_name if state_name else location.state }}"
                        tooltip="<b>{{ location.venue }}</b><br>{{ location.city }}, {{ state_name }}">
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endif %}
{% endfor %}
