{% extends "base.html" %}
{% if postal_abbreviations and location_details.state %}
    {% set state_name = postal_abbreviations[location_details.state].name %}
    {% set location_name = format_location_name(location_details, state_name=state_name) %}
{% else %}
    {% set location_name = format_location_name(location_details) %}
{% endif %}
{% block title %}{{ location_name }} | Locations{% endblock %}

{% block content %}
<div class="page-breadcrumb">
    <ul>
        <li>
            <a href="{{ url_for('main.index') }}">Home</a>
        </li>
        <li>
            <a href="{{ url_for('locations.index') }}">Locations</a>
        </li>
        <li>
            {{ location_name }}
        </li>
    </ul>
</div>

<h1>Location Details</h1>

{% include "locations/details.html" %}
{% endblock %}
