{% extends "base.html" %}
{% if postal_abbreviations and location_details.state %}
    {% set state_name = postal_abbreviations[location_details.state].name %}
    {% set location_name = format_location_name(location_details, state_name=state_name) %}
{% else %}
    {% set location_name = format_location_name(location_details) %}
{% endif %}
{% block title %}{{ location_name }} | Locations{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" id="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('locations.index') }}">Locations</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ location_name }}</li>
    </ol>
</nav>

<h2>Location Details</h2>

{% include "locations/details.html" %}
{% endblock %}
