{% for guest in guests %}
{% if guest.slug != "tbd" %}
{% if guest %}{# Sanity Check in case of a None #}

<div class="info">
    <h3 class="name">
        <a href="{{ url_for('guests.details', guest_slug=guest.slug) }}">{{ guest.name }}</a>
    </h3>

    <div class="details">
        <div class="badges">
            <span class="badge db-id">DB ID: {{ guest.id }}</span>
            {% if guest.is_host %}
            <span class="badge is-host">Host: <a href="{{ url_for('hosts.details', host_slug=guest.slug) }}">{{ guest.name }}<i class="bi bi-arrow-right" aria-hidden="true"></i></a></span>
            {% endif %}
            {% if guest.is_panelist %}
            <span class="badge is-panelist">Panelist: <a href="{{ url_for('panelists.details', panelist_slug=guest.slug) }}">{{ guest.name }}<i class="bi bi-arrow-right" aria-hidden="true"></i></a></span>
            {% endif %}
            {% if guest.is_scorekeeper %}
            <span class="badge is-scorekeeper">Scorekeeper: <a href="{{ url_for('scorekeepers.details', scorekeeper_slug=guest.slug) }}">{{ guest.name }}<i class="bi bi-arrow-right" aria-hidden="true"></i></a></span>
            {% endif %}
        </div>

        <div class="row">
            <div class="col-md-6 appearances-regular">
                <span class="field-label">
                    Appearances
                    (<span class="help-notes" data-bs-toggle="tooltip" data-bs-custom-class="ww-tooltip" data-bs-custom-class="ww-tooltip" title="Excludes Best Of and Repeat Shows">Regular Shows</span>)
                </span>
                {% if guest.appearances.count %}
                {{ guest.appearances.count.regular_shows }}
                {% else %}
                <span class="data-na">N/A</span>
                {% endif %}
            </div>
            <div class="col-md-6 appearances-all">
                <span class="field-label">
                    Appearances
                    (<span class="help-notes" data-bs-toggle="tooltip" data-bs-custom-class="ww-tooltip" title="Includes Best Of and Repeat Shows">All Shows</span>)
                </span>
                {% if guest.appearances.count %}
                {{ guest.appearances.count.all_shows }}
                {% else %}
                <span class="data-na">N/A</span>
                {% endif %}
            </div>
        </div>

        {% if not exclude_guest_appearances %}
        <div class="row">
            <div class="col-md-12 appearances">
                <span class="field-label">List of Appearances</span>
                {% if guest.appearances.shows %}
                <ul class="appearance-list {{- ' list-col-2' if guest.appearances.shows | length < 6 -}}">
                    {% for appearance in guest.appearances.shows %}
                    {% set show_date = date_string_to_date(date_string=appearance.date) %}
                    <li>
                        <a href="{{ url_for('shows.year_month_day', show_year=show_date.year, show_month=show_date.month, show_day=show_date.day) }}">{{ appearance.date }}</a>
                        {% if appearance.score != None %}
                        <span class="score">
                            {{ appearance.score }}
                            {% if appearance.score_exception %}
                            <span class="score-exception" data-bs-toggle="tooltip" data-bs-custom-class="ww-tooltip" title="Scoring Exception">*</span>
                            {% endif %}
                        </span>
                        {% endif %}
                        {% if appearance.best_of %}
                        <span class="badge best-of">Best Of</span>
                        {% endif %}
                        {% if appearance.repeat_show %}
                        <span class="badge repeat">Repeat</span>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <span class="data-na">N/A</span>
                {% endif %}
                </ul>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endif %}
{% endif %}
{% endfor %}
