<footer class="mt-auto pt-3">
    <div class="footer mt-auto py-4 px-1 links">
        <div class="container-fluid">
            <div class="row">
                <div class="col text-end">
                    <ul>
                        <li><a href="{{ url_for('main.about') }}">About</a></li>
                        <li><a href="{{ url_for('main.site_history') }}">Site History</a></li>
                        <li>
                            <a href="{{ url_for('main.understanding_data') }}"
                            title="Understanding Wait Wait Stats Page Data">Stats Data</a>
                        </li>
                        <li><a href="{{ api_url }}" target="_blank">API</a></li>
                        <li><a href="{{ blog_url }}" target="_blank">Blog</a></li>
                        <li><a href="{{ graphs_url }}" target="_blank">Graphs</a></li>
                        <li><a href="{{ reports_url }}" target="_blank">Reports</a></li>
                        {% if github_sponsor_url or patreon_url %}
                        <li><a href="{{ url_for('main.about') }}#support-stats">Support Wait Wait Stats</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer mt-auto py-3 px-1 copyright">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-7 copyright-text py-1">
                    Copyright &copy; 2007&ndash;{{ current_year(time_zone) }}
                    {% if mastodon_url and mastodon_user and bluesky_url and bluesky_user %}
                    <a href="https://linhpham.org/" target="_blank">Linh Pham</a> (<span title="Mastodon">M: <a rel="me" href="{{ mastodon_url }}" target="_blank">{{ mastodon_user }}</a></span> | <span title="Bluesky">B: <a href="{{ bluesky_url }}" target="_blank">{{ bluesky_user }}</a></span>).
                    {% elif mastodon_url and mastodon_user %}
                    <a href="https://linhpham.org/" target="_blank">Linh Pham</a> (<span title="Mastodon">M: <a rel="me" href="{{ mastodon_url }}" target="_blank">{{ mastodon_user }}</a></span>).
                    {% elif bluesky_url and bluesky_user %}
                    <a href="https://linhpham.org/" target="_blank">Linh Pham</a> (<span title="Bluesky">B: <a href="{{ bluesky_url }}" target="_blank">{{ bluesky_user }}</a></span>).
                    {% else %}
                    <a href="https://linhpham.org/" target="_blank">Linh Pham</a>.
                    {% endif %}
                    All rights reserved.
                </div>
                <div class="col-lg-5 text-lg-end app-details py-1">
                    <span id="app-version">
                        <span title="Page Rendered">R: {{ rendered_at(time_zone) }}</span> |
                        <span title="Application Version">V: {{ app_version }}</span> |
                        <span title="wwdtm Version">L: {{ wwdtm_version }}</span>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col disclaimer py-1">
                    Disclaimer: I am not an employee of or associated with NPR, Chicago Public Radio (WBEZ), or Urgent Haircut Productions.
                </div>
            </div>
        </div>
    </div>
</footer>
