{% if umami.enabled %}
    {% if umami.url and umami.website_id %}
    <!-- Umami Analytics -->
        {% set auto_track = "true" if umami.auto_track else "false" %}
        {% set domains = umami.domains if umami.domains else None %}
        {% set host_url = umami.host_url if umami.host_url else None %}
        {% if host_url and domains %}
    <script defer src="{{ umami.url }}" data-website-id="{{ umami.website_id }}" data-auto-track="{{ auto_track }}" data-domains="{{ domains }}" data-host-url="{{ host_url }}"></script>
        {% elif domains %}
    <script defer src="{{ umami.url }}" data-website-id="{{ umami.website_id }}" data-auto-track="{{ auto_track }}" data-domains="{{ domains }}"></script>
        {% else %}
    <script defer src="{{ umami.url }}" data-website-id="{{ umami.website_id }}" data-auto-track="{{ auto_track }}"></script>
        {% endif %}
    {% endif %}
{% endif %}
