@media print {
    body {
        background-color: $white;
        color: $black;
    }

    header {
        .navbar {
            background-color: $white !important;

            .navbar-brand {
                color: $black !important;
            }
        }
    }

    main {
        .details {
            .appearances {
                .appearance-list {
                    column-count: 2; column-fill: balance;
                }
            }

            .badge {
                background-color: $white !important;
                border: 1px solid $black;
                margin: 0 0.2rem;
                padding: 0.4rem;
            }

            .npr-link a {
                background-color: $white;
                color: $black !important;
            }
        }
    }

    .shadow, .shadow-sm, .shadow-lg {
        box-shadow: none !important;
    }
}